#root{
  background-color: #FFF9CA;
  min-height: 100vh;
}
#nav{
  background-color: #B2A4FF;
}
#name{
  font-weight: bold;
}
#Heart{
  color: #f06f6f;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
  background-color: #FFB4B4 !important;

}
#form{
  background-color: whitesmoke;
  border-radius: 15px;
}
#formContainer{
  max-width: 70vh;

}
#input1{
  margin-top: 10px;
  border-radius: 15px;
  border-width: 3px;
  
}
#buton1{
margin-top: 10px;
}