#root{
  background-color: whitesmoke;
  min-height: 100vh;
  text-align: center;
  
}
#nav{
  background-color: #232432;
}
#name{
  font-weight: bold;
}
#Heart{
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
  background-color: #232432 !important;


}
#form{


  
}
#formContainer{
padding-bottom: 1px;
margin-left: 5vh;


}
#input1{
  margin-top: 10px;
  border-radius: 15px;
  border-width: 3px;
  
}
#buton1{
margin-top: 10px;
}
#foto{
  width: 50vh;
  padding-top: 15vh;
}
#cop{
float: right;

}
#carouselExampleIndicators{
margin-top: 10vh;
margin-left: 10vh;
}
#border{
  border-color: black;
  border-width: 10px;
  width: inherit;
  height: inherit;
}
#iconyemek{
  color: whitesmoke;
}
#yazi{
  color: black;
}
#text{
font-weight: bolder;
font-family: serif;
width: 50vh;
font-size: 12px;
padding-left: 10vh;
padding-right: 2vh;
}
h4{
  padding-top: 10vh;
}
#armagan{
  width: 50vh;
  padding-left: 10vh;
padding-right: 2vh;
}
#cus{
  padding-left: 10vh;
}
